*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


header{
    position: absolute;
    width: 100vw;
    height: 123px;
    left: 0px;
    top: 0px;
    background: #610808;
    color: #fff;
    font-family: poppins;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .left-nav{
    margin-left: 2%;
    margin-top: 5px;
}

nav .right-nav{
    margin-right: 7%;
}

nav .right-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 20px;
}

nav .right-content .ico{
    width: 24px;
}

nav .logo{
    display: block;
}

nav .right-nav{
    display: flex;
}

nav .botão img{
    width: 38px;
    height: 32px;
    cursor: pointer;
}

.home{
    background-image: url(Fundo01.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .aside-left{
    margin-top: 5rem;
    margin-left: 16.875rem;
}

.home .aside-left h1{
    font-size: 80px;
    line-height: 6rem;
    font-weight: 400;
    font-family: bebas;
    text-align: center;
}

.aside-left .home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.2rem;
}

.aside-left .home-btn .botao-home{
    width: 276px;
    height: 84px;
    background: #8F7B63;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-family: bebas;
    cursor: pointer;
}

.article-right{
    margin-right: 9.375rem;
}

.article-right .home-text p{
    margin-top: 30px;
    font-family: inter;
    font-weight: 600;
    line-height: 24px;
    margin-left: 10px;
    color: black;
    letter-spacing: 1.8px;
}

.article-right .home-img #homeimg{
    width: 477px;
    height: 425px;
    margin-top: 9rem;
    filter: drop-shadow(0 5px 20px black) contrast(1.2) brightness(0.9);
}

/* desktop 2 */

section.Bemvindo{
    background-color: #B6B5B5;
    
    

}
div.texts{
    position: absolute;
    width: 516px;
    top: 59rem;
    left: 281px
    

}
 .hr{
    border-color: black;
    background-color: black;
    border-radius: 3px;
    height: 3px;
    width: 70px;
    margin-bottom: 20px;
    
}
#Welcome{
    padding-bottom: 15px;
    font-size: 20px;
}
#paragrao01{
    padding-top: 5px;
    font-size: 20px;
    
}
#h2{
    color: #610808;
    font-size: 30px;
    font-weight: bold;
}
div.imagem01{
    
    margin-left: 950px;
    padding-bottom: 200px;
}
div.imagem01 img{
   padding-bottom: 200px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
div.footer{
    background-color: #610808;
    width: 100%;
    height: 287px;
    color: white;
    text-align: center;
}

div.ps{
    margin: auto;
}

/* desktop 3 */

.section3{
   background-image: url(imagens/fundo2.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   width: 100vw;
}

.section3 .container-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 .container-01 .content-01{
    margin-top: 4.2rem;
}

.section3 .container-01 .content-01 .div-content-hr{
    display: flex;
    justify-content: center;
}

/* Estilo Formulario */
.Formulario{
    background-image: url(imagens/fundo03.png);
    background-size:cover;

}

.form{
    display: flex;
    justify-content: center;

    
   
}

h1{
    text-align: center;
}
#hrform{
    margin-left: 46%;
    width: 120px;
    margin-top: 5%;
    
}
p{
    font-size: 25px;
}
h1{
 font-size: 50px;
}
.inp1{
    margin-top: 10%;
    margin-bottom: 7%;
}
.inpts{
    
   border: 1px solid black;
   
  
}
#inome{
    width: 250px;
    height: 33px;
    margin-right: 10px;
}
#itelefone{
    width: 250px;
    height: 33px;
    margin-right: 10px;

}
#iemail{
    width: 250px;
    height: 33px;
    margin-right: 10px;
}
#servi{
    width: 250px;
    height: 33px;
    margin-right: 10px;

}
#idata{
    width: 250px;
    height: 33px;
    margin-right: 10px;

}
#ihora{
    width: 250px;
    height: 33px;
    margin-right: 10px;

}
#btn{
    width: 282px;
    height: 76px;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 30%;
   
}




  
   

/* Fim Formulario */


.section3 .container-01 .content-01 .div-content-hr #hr-content{
    border-color: white;
    background-color: white;
    border-radius: 3px;
    height: 2px;
    width: 70px;
    margin-bottom: 15px;
}

.section3 .container-01 .content-01 p{
    text-align: center;
    padding: 3px;
    margin-bottom: 1rem;
    font-family: Inter;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px black;
}

.section3 .container-01 .content-01 .titulo-barber{
    font-weight: 400;
    font-size: 60px;
    font-family: bebas;
    color: white;
    text-shadow: 0 0 10px black;
}

/* cards barbeiros */

.container-barber{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container-barber #cards1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.container-barber #cards2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.container-barber #cards3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
}

