*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
}

html{
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #610808;
    color: #fff;
    font-family: poppins;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .left-nav{
    margin-left: 5%;
    margin-top: -5px;
}

nav .left-nav .box-logo{
    width: 80px;
}

nav .right-nav{
    margin-right: 7%;
    margin-top: -2rem;
}

nav .right-nav p{
    font-size: 0.8rem;
}

nav .right-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 20px;
}

nav .right-content .ico{
    width: 24px;
}

nav .logo{
    display: block;
    font-size: 1.2rem;
    margin-top: 20px;
}

nav .right-nav{
    display: flex;
}

nav .botão img{
    width: 38px;
    height: 32px;
    cursor: pointer;
}

.home{
    background-image: url(imagens/Fundo01.png);
    background-size: cover;
    background-position-y: -2rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .aside-left{
    margin-left: 12rem;
}

.home .aside-left h1{
    font-size: 80px;
    line-height: 6rem;
    font-weight: 400;
    font-family: bebas;
    text-align: center;
}

.aside-left .home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.2rem;
}

.aside-left .home-btn .botao-home{
    width: 276px;
    height: 84px;
    background: #8F7B63;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-family: bebas;
    cursor: pointer;
}

.article-right{
    margin-right: 3rem;
}

.article-right .home-text{
    width: 28rem;
}

.article-right .home-text p{
    margin-top: 1rem;
    font-family: inter;
    line-height: 24px;
    margin-left: 10px;
    font-weight: 600;
    color: black;
    letter-spacing: 1.4px;
    font-size: 15px;
}

.article-right .home-img #homeimg{
    width: 23.25rem;
    margin-top: 3rem;
    filter: drop-shadow(0 5px 20px black) contrast(1.2) brightness(0.9);
}

    


/* desktop 2 */

section.Bemvindo{
    background-color: #B6B5B5;
}

div.texts{
    position: absolute;
    width: 516px;
    top: 59rem;
    left: 281px
}

 .hr{
    border-color: black;
    background-color: black;
    border-radius: 3px;
    height: 3px;
    width: 70px;
    margin-bottom: 20px;
    
}

#Welcome{
    padding-bottom: 15px;
    font-size: 20px;
}

#paragrao01{
    padding-top: 5px;
    font-size: 20px;
    
}

#h2{
    color: #610808;
    font-size: 30px;
    font-weight: bold;
}

div.imagem01{  
    margin-left: 950px;
    padding-bottom: 200px;
}

div.imagem01 img{
    margin-top: 3rem;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer{
    background-color: #610808;
    height: 287px;
}


.footer p{
    color: white;
    font-size: 20px;
    font-style: italic;
}
.ps{
    height: 287px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    
}

/* desktop 3 */

#section3{
   background-image: url(imagens/fundo2.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: top;
   background-attachment: fixed;
   padding-top: 7rem;
   padding-bottom: 4rem;
   height: 100vh;
   overflow: hidden;
}

.container-01 .content-01{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-01 .content-01 .upline{
    height: 3px;
    width: 5rem;
    background: #fff;
    margin: 1.5rem;
}

.container-01 .content-01 p{
    color: white;
    font-size: 20px;
    margin-bottom: 1rem;
    text-shadow: 0.4px 0.4px 1px black;
}

.container-01 .content-01 h1{
    color: white;
    font-family: bebas;
    font-size: 70px;
    text-shadow: 0.4px 0.4px 2px black;
}



#container-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#container-projetos #cards{
    margin: 3rem;
    width: 263px;
}

#container-projetos #cards .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagens/Barbeiro01.png);
    width: 263px;
    height: 304px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;

}

#container-projetos #cards .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagens/Barbeiro2.png);
    width: 263px;
    height: 304px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

#container-projetos #cards .content3{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagens/Barbeiro3.png);
    width: 263px;
    height: 304px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

#container-projetos #cards .box-text{
    color: #fff;
    font-family: inter;
    font-size: 14px;
}

#container-projetos #cards .box-text p{
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

#container-projetos #cards .box-text h4{
    text-align: center;
    margin: 20px 0;
    font-size: 17px;
    text-shadow: 1px 1px 1px black;
}

/* Estilo Formulario */

.Formulario{
    background-image: url(imagens/fundo03.png);
   background-size: cover;
   height: 100vh;
   padding-top: 150px;
}
.bloco1{
    text-align: center;
    margin-bottom: 70px;
}
.hr2{
   padding-top: 50px;
   display:flex ;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
 
}
.hr2 hr{
    background-color: black;
    width: 70px;
    height: 3px;
    border-radius: 20px;
}
.bloco1 p{
    margin: 10px;
}

.bloco1 h1{
    font-size: 2em;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

form p{
    font-size: 20px;
}

input{
    width: 303px;
    height: 33px;
}
select{
    width: 303px;
    height: 33px;

}
.inpts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.inp1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-bottom:100px ;

    
}

.inp2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom:100px ;

}
#btn{
    background-color: #8F7B63;
    width: 282px;
    height: 76px;
    border-radius: 10px;
    cursor: pointer;
}
.black{
    position: absolute;
    background-image: url(imagens/Ellipse\ 2.png);
    margin-top: 210px;
    left: -144px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: black;
    
}
.black2{
    position: absolute;
    right: -160px;
    border-radius: 50%;
    background-image: url(imagens/Ellipse\ 1.png);
    margin-top: -360px;
    width: 300px;
    height: 300px;
    background-color: black;

}

   
/* Fim Formulario */


.section3 .container-01 .content-01 .div-content-hr #hr-content{
    border-color: white;
    background-color: white;
    border-radius: 3px;
    height: 2px;
    width: 70px;
    margin-bottom: 15px;
}

.section3 .container-01 .content-01 p{
    text-align: center;
    padding: 3px;
    margin-bottom: 1rem;
    font-family: Inter;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px black;
}

.section3 .container-01 .content-01 .titulo-barber{
    font-weight: 400;
    font-size: 60px;
    font-family: bebas;
    color: white;
    text-shadow: 0 0 10px black;
}

/* cards barbeiros */

.container-barber{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container-barber #cards1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.container-barber #cards2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.container-barber #cards3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
}

